:root {
    --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --bold: 700;
    --normal: 400;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    height: 100vh;
    background: var(--very-dark-blue ) url(bg-desktop.png) no-repeat;
    background-position: bottom ;
    background-size:100vw 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pale-blue);
    padding: 0 2rem;

}
.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: clamp(16rem, 90vw, 100rem);
    margin: 0 1rem;
    gap: 2rem;
    position: relative;
    top: 20px
}
.img-card {
    border-radius: 5px 100px 5px 5px;
    position: relative;
}
.img-card .logo{
    padding: 2rem 1.5rem;
    width: clamp(10rem, 15vw, 15rem);
   
}
.img-card .icon-list{
    display: flex;
    flex-direction: row;
    width: clamp(10rem, 15vw, 15rem);
    padding-left: 1.5rem;
    gap: 1.5rem;

    /* background-color: var(--very-dark-blue); */
}
.img-card .icon-list .icon {
    /* height: 2rem;
    width: 3rem; */
    padding: 1rem;
    width: clamp(2.5rem, 5vw, 5rem);
    position: relative;
    background-color: var(--very-dark-blue);
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 1.5rem;
    justify-content: center;

}
.icon-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.info-card {

    width: 60%;
    position: relative;
    height: 14rem;
    align-self: flex-end;
    border-radius: 5px;
    
  
}
.num-range {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    font-weight: var(--bold);
}

.progress-bar{
    background-color: var(--very-dark-blue);
    height: 35px;
    margin:  0rem 2rem 1rem 2rem;
    border-radius: 90px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;


    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    
}
.progress-bar .bar-color{
background-image: linear-gradient(90deg,  hsl(6, 100%, 80%), hsl(335, 100%, 65%));
border-radius: 90px;
height: 25px;
width: 80%;
position:  absolute;
z-index: 998;
display: flex;
justify-content: flex-end;
align-items: center;
margin-left: 5px;

}
.progress-bar .bar-color .bar-ball{
    background-color: var(--pale-blue);
    height: 22px;
    /* position: absolute; */
    width: 22px;
    border-radius: 50%;
    margin-right: 2px;;


}

.floating-card {
    position: absolute;
    top: -30%;
    right: 4rem;
    color: black;
    background-color: white;
    padding:1rem 0 1rem 1rem;
   
    border-radius: 10px;
    border-right: 25px solid white;
    border-bottom: 25px solid var(--dark-blue);
   
 
}
 .floating-list {
    list-style: none;
    display: flex;
    align-items: center;
    
   gap: .2rem;
   

    
}


.floating-card .floating-list li{
    font-weight: var(--bold);
    font-size: 4rem;
}
.floating-card .floating-list li:nth-child(4){
    font-weight: var(--normal);
    font-size: 1rem;
    margin-left: .65rem;
    padding-right: 0;
    }


.card {
    background-color: var(--dark-blue);
    padding: 2rem;
    width: 100%;
}

.info-card h1{
    font-size: clamp(1rem, 20px, 2rem);
    font-weight: 400;
    padding: 1rem 2rem;
    position: relative;
    z-index: 999;
}
.info-card h1 span {
    font-weight: var(--bold);
    font-size: clamp(1.5rem, 24px, 2.5em);
}
    

/* media quearie for mobile  */

@media screen and (max-width:950px) {
    body {
        background: var(--very-dark-blue ) url(bg-mobile.png) no-repeat ;
        background-position: center;
        
        background-size: cover;
        display: flex;
        flex-direction: column;
    }
 
    
     .container {
        display: flex;
        flex-direction: column;    
}

.floating-card {
    position: absolute;
    top: 85%;
   right: 25%;
   left: 25%;
    
    margin: 0 auto;
    color: black;
    background-color: white;
    padding: 1rem 0;
    border-radius: 10px;
    border-right: none;
    border-bottom: none;

 
}
.floating-card .floating-list {
    justify-content: center;
}
.floating-card .floating-list li{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    
}
.info-card h1 {
    font-size: .9rem;
    text-align: center;
}
.info-card h1 span {
    font-size: 1rem;
   
}
.info-card, .img-card{
    padding: 2rem 1rem;;
    margin: 0;
    

}
.img-card .logo, .img-card .icon-list{
    margin-left: 3.5rem;
}
.img-card .icon-list .icon{
    width: auto;
    padding: 1rem;
    
}
.img-card .icon-list{
    gap: 1rem;
}
/* 
    width: 60%;
    position: relative;
    height: 14rem;
    align-self: flex-end;
    border-radius: 5px;
     */
  

     
}